@import "tailwindcss";


@theme {
  --color-deep-green: #0d3b2e;
  --color-sage: #6f8a7f;
  --color-stone: #bfc7c2;
  --color-cream: #e9e6df;
  --color-charcoal: #3c3a36;

  --font-heading: "Jost", sans-serif;
  --font-body: "Inter", sans-serif;
}

